* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #333;
}

header {
  min-height: 100vh;
  background: linear-gradient(hotpink, orange)
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 5rem;
}

.content {
  width: 300px;
  height: 500px;
  background: linear-gradient(hotpink, orange);
  margin: 0 3rem;
  display: flex;
}

footer .main-footer {
  display: flex;
  background-color: aqua;
}